{% extends 'base.html' %}

{% block content %}
<section id="blog" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12 text-center">
				<h2>Latest Blog</h2>
			</div>
			{% for article in articles %}
			<div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.3s">
				<div class="blog-thumb">
					<span class="blog-date">{{ article.category }} / {{ article.date }}</span>
					<h3 class="blog-title"><a href="{{url_for('blog')}}?id={{ article.id }}">{{ article.title }}</a></h3>
					<h5 id="blog-author">{{ article.description }}</h5>
				</div>
			</div>
			{% endfor %}
			
		</div>
	</div>
</section>
{% endblock %}